/* BASE STYLE ========================================= */

/* 1. Variables _________________________________________ */

:root {
    --container-width: 1100px;

    --radius-small: 0.25rem;
    --radius-medium: 0.5rem;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;

    --color-background: #3d3c3c;
    --color-background-light: #fff0ef;
    --color-accent-background: #4d4d4d;

    --color-softpink: #fff0ef;
    --color-softgreen: #d8f1ee;

    --color-accent-pink: #ffd8d5;
    --color-accent-green: #b1e2de;

    --color-text-primary: #ffffff;
    --color-text-secondary: #cfd4db;

    --font-primary: "Figtree", sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    --font-signature: "Bad Script", cursive;
}

/* 2. Reset _________________________________________ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. Global _________________________________________ */

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-regular);
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: var(--color-accent-pink);
    text-decoration: none;
}

/*
ul, ol {

}

table {

}
*/

hr {
    border: none;
    border-top: 1px solid var(--color-softgreen);
    margin: var(--space-lg) 0;
}

/* 4. Typography _________________________________________ */

.signature {
    font-family: var(--font-signature);
}

h1, h2, h3 {
    line-height: 1.2;
    font-weight: var(--font-bold);
}

h1 {
font-size: 2.5rem;
margin-bottom: var(--space-md);
}

h2 {
font-size: 2rem;
margin-bottom: var(--space-sm);
}

h3 {
font-size: 1.5rem;
margin-bottom: var(--space-xs);
}

p {
font-size: 1rem;
margin-bottom: var(--space-sm);
color: var(--color-text-secondary);
}


/* 5. Layout _________________________________________ */

.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}

header {
    padding: var(--space-xs) var(--space-md);
}

main {
    flex: 1;
    padding: var(--space-lg) 0;
}

footer {
    padding: 3rem var(--space-md) var(--space-xs);
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-sm);
    border-top: 1px solid var(--color-softgreen);
}

/* ========================================= */
/*  COMMONS ========================================= */

/* 6. HEADER _________________________________________ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: .5px solid var(--color-softgreen);
}

header img {
    height: 3.5rem;
}

/* 7. NAVIGATION _________________________________________ */

nav {
    display: flex;
    gap: var(--space-xl);
}

nav a {
    font-weight: var(--font-bold);
    padding: var(--space-xs);
    border-bottom: 3px solid transparent;
}

nav a:hover {
    background-color: var(--color-accent-background);
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 3px solid var(--color-accent-pink);
}

/* 8. SHARED COMPONENTS _________________________________________ */

/* cards */

/* buttons */

/* icons */

/* section titles */

/* 12. FOOTER _________________________________________ */

footer > img {
    height: 3rem;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

footer a {
    display: inline-block;
    margin: 0 var(--space-xs);
}

footer a img {
    height: 4rem;
    transition: transform 0.1s ease;
}

footer a:hover img {
    transform: scale(1.3);
}

/* ========================================= */
/* =========================================
   9. RESUME
========================================= */

/* =========================================
   10. COVER LETTER
========================================= */

/* =========================================
   11. CAREER GOALS
========================================= */

/* =========================================
   13. MEDIA QUERIES
========================================= */